.about-app {
  box-sizing: border-box;
  padding: 20px;
  display: grid;
  grid-template-rows: min-content min-content;
  row-gap: 8px;
}

.about-app__list {
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.about-app__item {
  list-style-type: none;
}

.about-app__item__heading {
  font-size: 18px;
  line-height: 24px;
  width: 280px;
  margin: 23px 0 12px;
}

.about-app__item__answer {
  @include descriptions-photo;
  width: 280px;
  margin-bottom: 30px;
}

.about-app__images {
  margin: 0 auto;
}

.about-app__mobile-smile {
  background-image: url("../../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  width: 157px;
  height: 277px;
  margin: 0 auto;
}

.about-app__mobile-black,
.about-app__mobile-purple {
  display: none;
}

@media ($tablet-widths) {
  .about-app {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    column-gap: 42px;
  }

  .about-app__images {
    order: 0;
  }

  .about-app__mobile-smile {
    background-image: url("../../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    width: 268px;
    height: 481px;
  }

  .about-app__item__heading {
    width: 310px;
  }

  .about-app__list {
    text-align: start;
    order: 2;
  }
}

@media ($desktop-widths) {
  .about-app {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    padding-left: 130px;
    padding-right: 130px;
    margin: 0 auto;
  }

  .about-app__images {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: min-content min-content min-content;
    column-gap: 20px;
  }

  .about-app__mobile-black,
  .about-app__mobile-purple {
    display: block;
  }

  .about-app__mobile-black {
    @include about-app__mobile;
    background-image: url("../../img/iphone-screen-1-desktop@1x.png");
  }

  .about-app__mobile-purple {
    @include about-app__mobile;
    background-image: url("../../img/iphone-screen-2-desktop@1x.png");
  }

  .about-app__mobile-smile {
    @include about-app__mobile;
    background-image: url("../../img/iphone-screen-3-desktop@1x.png");
  }

  .about-app__list {
    text-align: center;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 68px;
  }

  .about-app__item__heading {
    font-size: 30px;
    line-height: 30px;
    width: 234px;
  }

  .about-app__item__answer {
    font-size: 18px;
    line-height: 30px;
    width: 252px;
  }
}
