.about {
  padding-top: 38px;
  background: linear-gradient(-6deg, $basic-other-color 96%, $basic-color 50%);
}

.about__app {
  box-sizing: border-box;
  padding: 20px 20px 0;
  display: grid;
  grid-template-rows: min-content min-content;
  row-gap: 8px;

  &::after {
    content: "";
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
    position: relative;
    background: url("../img/iphone-screen-mobile@1x.png") no-repeat;
    width: 157px;
    height: 277px;
    margin: 0 auto;
    z-index: 20;

    @media ($retina) {
      background-image: url("../img/iphone-screen-mobile@2x.png");
      background-size: 157px auto;
    }
  }
}

.about__list {
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.about__item {
  list-style-type: none;
}

.about__item-heading {
  font-size: 18px;
  line-height: 24px;
  width: 280px;
  margin: 23px 0 12px;
}

.about__item-answer {
  @include descriptions-photo;
  width: 280px;
  margin-bottom: 30px;

  br {
    display: none;
  }
}

@media ($tablet-widths) {
  .about {
    padding-top: 0;
    background: linear-gradient(-5deg, $basic-other-color 88%, $basic-color 50%);
  }

  .about__app {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 22px;

    &::after {
      order: -1;
      grid-template-columns: 1fr 1fr;
      margin: 0;
      background: url("../img/iphone-screen-3-tablet@1x.png") no-repeat;
      width: 268px;
      height: 481px;

      @media ($retina) {
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
        background-size: 268px auto;
      }
    }
  }

  .about__item-heading {
    width: 310px;
    margin: 0 0 12px;
  }

  .about__list {
    text-align: start;
    order: 2;
    padding: 68px 20px 10px;
  }

  .about__item-answer {
    width: 310px;
    margin: 0 0 35px;

    br {
      display: block;
    }
  }
}

@media ($desktop-widths) {
  .about {
    background: linear-gradient(-5deg, $basic-other-color 82%, $basic-color 50%);
  }

  .about__app {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    padding: 40px 130px 0;
    margin: 0 auto;

    &::after {
      @include about-app__mobile;
      grid-template-columns: 1fr;
      background-image: url("../img/iphone-screen-1-desktop@1x.png"), url("../img/iphone-screen-2-desktop@1x.png"), url("../img/iphone-screen-3-desktop@1x.png");
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-position: left, center, right;
      margin: 5px 2px;
      width: 100%;
      column-gap: 32px;

      @media ($retina) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png"), url("../img/iphone-screen-2-desktop@2x.png"), url("../img/iphone-screen-3-desktop@2x.png");
        background-size: 294px auto;
      }
    }
  }

  .about__list {
    text-align: center;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 75px;
    padding: 43px 20px 10px;
  }

  .about__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__item-heading {
    font-size: 30px;
    line-height: 30px;
    width: 234px;
    margin-bottom: 20px;
    text-align: center;
  }

  .about__item-answer {
    font-size: 18px;
    line-height: 30px;
    width: 245px;

    br {
      display: none;
    }
  }
}
