.download-panel {
  background-color: $mobile-background-color;
  height: 271px;
}

.download-panel__shell {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 28px 20px 38px;
}

.download-panel__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: $basic-color;
  box-sizing: border-box;
  width: 280px;
  min-height: 55px;
  padding: 12px 35px;
  border: 3px solid $basic-color;
  border-radius: 29px;
  margin-bottom: 32px;

  &:hover {
    background-color: $basic-color;
    color: $link-more-color;
  }

  &:active,
  &:focus {
    color: rgba($link-more-color, 0.3);
  }
}

.download-panel__logo-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 17px;
  padding: 0;
  width: 204px;
  box-sizing: border-box;
}

.download-panel__logo-item {
  list-style-type: none;

  &:last-child {
    margin-top: 10px;
  }
}

.download-panel__about {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $basic-color;
  text-align: center;
}

@media ($tablet-widths) {
  .download-panel {
    background-color: transparent;
  }

  .download-panel__shell {
    min-width: 300px;
    padding: 8px 20px;
    margin-right: 320px;
  }

  .download-panel__link {
    width: 300px;
    margin-bottom: 28px;
  }
}

@media ($desktop-widths) {
  .download-panel {
    background-color: transparent;
  }

  .download-panel__shell {
    min-width: 300px;
    padding: 0 130px 20px;
    margin-right: 640px;
  }

  .download-panel__link {
    width: 300px;
  }
}
