.download-panel {
  background-color: $mobile-background-color;
  min-height: 271px;
}

.download-panel__shell {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 28px 20px;
}

.download-panel__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: $basic-color;
  box-sizing: border-box;
  width: 280px;
  min-height: 55px;
  padding: 12px 20px;
  border: 3px solid $basic-color;
  border-radius: 29px;
  margin-bottom: 32px;

  &:hover {
    background-color: $basic-color;
    color: $link-more-color;
  }

  &:active,
  &:focus {
    color: rgba($link-more-color, 0.3);
  }
}

.download-panel__logo-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 17px;
  padding: 0;
  width: 204px;
  box-sizing: border-box;
}

.download-panel__logo-item {
  list-style-type: none;

  &:last-child {
    margin-top: 10px;
  }
}

.download-panel__about {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $basic-color;
  text-align: center;
}

@media ($tablet-widths) {
  .download-panel {
    background-color: transparent;
    padding-bottom: 88px;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/iphone-hand-tablet@1x.png");
      background-repeat: no-repeat;
      width: 660px;
      height: 545px;
      bottom: 0;
      left: 50%;
      margin-left: -330px;
      z-index: -1;
    }
  }

  .download-panel__shell {
    min-width: 300px;
    padding: 8px 20px;
    margin-right: 320px;
  }

  .download-panel__link {
    width: 300px;
    margin-bottom: 45px;
  }

  .download-panel__about {
    font-size: 18px;
  }

  .download-panel__logo-list {
    margin-bottom: 30px;
    margin-right: 4px;
  }
}

@media ($desktop-widths) {
  .download-panel {
    padding-top: 13px;
    padding-bottom: 105px;

    &::before {
      background-image: url("../img/iphone-hand-desktop@1x.png");
      width: 1050px;
      height: 645px;
      bottom: 0;
      left: 50%;
      margin-left: -455px;
    }
  }

  .download-panel__shell {
    min-width: 300px;
    padding: 0 130px 20px;
    margin-right: 640px;
  }

  .download-panel__link {
    margin: 23px 0 68px;
    width: 300px;
    font-size: 21px;
    line-height: 18px;
  }

  .download-panel__logo-list {
    margin-bottom: 50px;
  }

  .download-panel__about {
    margin: 0;
  }
}
