.download-app {
  &::before {
    content: "";
    position: absolute;
    background-image: url("../../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    width: 320px;
    height: 286px;
    bottom: 271px;
    left: auto;
    right: auto;
  }
  background-image: url("../../img/bg-back-tablet@1x.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 733px;
  background-color: $basic-additional-color;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 95px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.download-app__link {
  &:hover {
    background-color: $basic-color;
    color: $link-more-color;
  }

  &:active,
  &:focus {
    color: rgba($link-more-color, 0.3);
  }
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: $basic-color;
  box-sizing: border-box;
  width: 280px;
  min-height: 55px;
  padding: 12px 35px;
  border: 3px solid $basic-color;
  border-radius: 29px;
}

.download-app__heading {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: $basic-color;
  width: 280px;
  text-align: center;
}

.download-app__panel {
  background-color: $mobile-background-color;
  height: 271px;
  min-width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 28px 20px 38px;
}

.download-app__logo-list {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.download-app__logo-item {
  margin: 18px;
  list-style-type: none;
}

.download-app__about {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $basic-color;
  text-align: center;
}

@media ($tablet-widths) {
  .download-app__heading {
    margin: 0;
    margin-bottom: 39px;
    font-size: 40px;
    line-height: 48px;
    width: 300px;
    text-align: center;
  }

  .download-app__link {
    width: 300px;
  }

  .download-app {
    &::before {
      background-image: url("../../img/iphone-hand-tablet@1x.png");
      width: 660px;
      height: 545px;
      bottom: 0;
      left: auto;
      right: auto;
    }
    background-image: url("../../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-width: 660px;
    padding: 212px 20px 119px;
    height: 769px;
    justify-content: center;
    align-items: start;
  }

  .download-app__panel {
    min-width: 300px;
    height: 237px;
    padding: 0;
    align-items: center;
    background-color: transparent;
    position: relative;
  }
}

@media ($desktop-widths) {
  .download-app {
    padding: 224px 130px 130px;
  }

  .download-app__heading {
    width: 300px;
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 39px;
  }

  .download-app__link {
    width: 300px;
  }

  .download-app {
    &::before {
      background-image: url("../../img/iphone-hand-desktop@1x.png");
      width: 1050px;
      height: 645px;
      bottom: 0;
      right: 0;
    }
    justify-content: center;
    background-image: url("../../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-width: 1200px;
    height: 853px;
    align-items: start;
  }

  .download-app__panel {
    min-width: 300px;
    height: 288px;
    padding: 0;
    background-color: transparent;
    position: relative;
  }
}
