.footer {
  min-width: 100%;
  height: 284px;
  box-sizing: border-box;
  padding: 37px 40px 40px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content min-content min-content;
  row-gap: 36px;
}

.footer__logotype {
  margin: 0 auto;
}

.footer__social-list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: min-content min-content min-content;
  column-gap: 8px;
  padding: 0;
  margin: 0 auto;
}

.footer__social-item {
  list-style-type: none;
}

.footer__social-icon {
  fill: $link-more-color;
}

.footer__social-link {
  width: 54px;
  height: 54px;
  box-sizing: border-box;
  padding: 14px;
  border: 3px solid rgba($basic-additional-color, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    border-color: $basic-additional-color;
  }

  &:active,
  &:focus {
    border-color: rgba($basic-additional-color, 0.1);

    .footer__social-icon {
      opacity: 0.1;
    }
  }
}

.footer__author {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $basic-additional-color;
  text-decoration: none;
  position: relative;
  margin: 10px auto 0;
}

.footer__author-logo {
  position: absolute;
  top: -9px;
  right: 0;
  fill: $link-more-color;

  &:hover {
    fill: $basic-additional-color;
  }

  &:active,
  &:focus {
    fill: rgba($basic-additional-color, 0.3);
  }
}

.footer__text-link {
  margin-right: 40px;
}

.footer__glasses-stars,
.footer__stars {
  display: none;
}

.footer__logo-icon {
  fill: $basic-additional-color;

  &:hover {
    fill: $link-more-color;
  }

  &:active,
  &:focus {
    fill: $basic-additional-color;
    opacity: 0.3;
  }
}

@media ($tablet-widths) {
  .footer {
    height: 127px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 33px 20px;
  }

  .footer__logotype {
    margin: 0;
    justify-self: start;
  }

  .footer__social-list {
    margin: 0;
    justify-self: center;
  }

  .footer__author {
    margin: 20px 42px 0;
    justify-self: end;
  }

  .footer__author-logo {
    right: -42px;
    top: -10px;
  }


  .footer__text-link {
    margin-right: 0;
  }
}

@media ($desktop-widths) {
  .footer {
    height: 197px;
    padding: 63px 10px 65px;
  }

  .footer__glasses {
    display: none;
  }

  .footer__glasses-stars,
  .footer__stars {
    display: inline;
  }

  .footer__social-list {
    column-gap: 7px;
  }

  .footer__author {
    margin: 18px 42px 0;
  }

  .footer__author-logo {
    top: -7px;
  }

  .footer__text-link {
    font-size: 18px;
    line-height: 18px;
  }
}
