.form {
  background-color: $basic-color;
  box-sizing: border-box;
}

.form__shell {
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  padding: 0;
}

.form__heading {
  @include form__heading;
  order: -1;
  text-align: center;
  width: 280px;
  padding: 44px 20px 0;
  margin: 0 0 15px;
}

.form__fieldset-shell {
  margin: 0;
  padding: 39px 20px;
  background-color: $basic-other-color;

  &--checkbox {
    padding-bottom: 50px;
  }

  &--radio {
    padding-bottom: 45px;
  }

  &--contacts {
    background-color: $basic-color;
    padding: 30px 20px 42px;
  }

  &--textarea {
    background-color: $basic-color;
    padding-bottom: 43px;
  }
}

.form__fieldset {
  border: 0 none;
  box-sizing: border-box;
  padding: 19px 20px 24px;

  &--initials {
    padding-bottom: 42px;
  }

  &--check-radio {
    border: 0 none;
    padding: 0;
  }

  &--contacts {
    padding: 0;
  }

  &--textarea {
    padding: 0;
  }
}

.form__list {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  margin: 0;

  &--initials {
    row-gap: 16px;
  }

  &--checkbox {
    row-gap: 52px;
  }

  &--contacts {
    row-gap: 16px;
  }

  &--radio {
    row-gap: 45px;
  }
}

.form__item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.form__name-input {
  @include name-input;
  margin: 0 0 6px 20px;

  &--disabled {
    display: none;
  }
}

.form__name-fieldset {
  @include name-input;
  line-height: 18px;
  width: 218px;
  text-align: center;
  margin-bottom: 40px;

  &--textarea {
    margin-bottom: 16px;
  }
}

.form__heading-radio-check,
.form__write {
  @include name-input;
  font-size: 18px;
  text-transform: none;
  color: $basic-additional-color;
  position: relative;
}

.form__heading-radio-check {
  &--checkbox {
    padding-left: 56px;
  }

  &--radio {
    padding-left: 68px;
  }
}

.form__write {
  border: 2px solid $body-color;
  border-radius: 1px;
  box-sizing: border-box;
  width: 280px;
  height: 63px;

  &--resize {
    resize: none;
    height: 201px;
  }

  &::-webkit-input-placeholder {
    color: $basic-additional-color;
    font-size: 18px;
    line-height: 30px;
    padding-left: 18px;
    padding-top: 10px;
    text-align: start;
  }
}

.form__information {
  @include form__heading;
  text-transform: uppercase;
  text-align: center;
  margin: 34px 0 16px;
}

.form__information-asterisk {
  @include form__heading;
  color: $link-more-color;
}

.form__button-submit {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: $basic-color;
  background-color: $form-button-color;
  border-radius: 3px;
  width: 280px;
  min-height: 63px;
  box-sizing: border-box;
  padding: 14px;
  border: none;
}

.form__footer {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.form__checkbox + label::before {
  content: "";
  width: 35px;
  height: 35px;
  position: absolute;
  left: -2px;
  top: -2px;
  border: 2px solid $body-color;
  background-color: $basic-color;
  border-radius: 3px;
}

.form__checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 7px;
  width: 22px;
  height: 16px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.form__radio + label::before {
  content: "";
  position: absolute;
  left: -2px;
  top: -6px;
  width: 37px;
  height: 37px;
  border: 2px solid $body-color;
  background-color: $basic-color;
  border-radius: 50%;
}

.form__radio:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 11px;
  width: 15px;
  height: 15px;
  background-color: $link-more-color;
  border-radius: 50%;
}


@media ($tablet-widths) {
  .form {
    padding: 20px;
  }

  .form__fieldset-shell {
    background-color: transparent;

    &--radio {
      order: 1;
    }

    &--checkbox {
      order: 3;
    }
  }

  .form__fieldset {
    border: 2px solid $body-color;
    border-radius: 1px;
    padding: 0;

    &--contacts {
      order: 2;
    }

    &--textarea {
      order: 4;
      min-width: 616px;
      height: 289px;
      padding: 30px 60px 53px;
    }
  }

  .form__name-input--disabled {
    display: inline;
  }

  .form__item {
    &--initials {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      order: 0;
    }

    &--contacts {
      flex-direction: column-reverse;
    }
  }

  .form__name-fieldset {
    width: auto;
  }

  .form__write {
    &--width {
      width: 100%;
    }

    &--resize {
      width: 469px;
      height: 189px;
    }
  }

  .form__footer {
    flex-direction: row;
    justify-self: auto;
    justify-content: space-between;
    order: 5;
  }
}

@media ($desktop-widths) {
  .form {
    padding: 0 130px;
  }

  .form__shell {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form__heading {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .form__item {
    &--initials {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }

  .form__list {
    &--contacts {
      display: flex;
      justify-content: space-around;
    }
  }

  .form__fieldset-shell {
    &--radio {
      grid-column-start: 2;
      grid-column-end: 3;
    }

    &--checkbox {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  .form__fieldset {
    &--contacts {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    &--textarea {
      grid-column-start: 1;
      grid-column-end: 3;
      width: 936px;
      height: 213px;
      padding: 10px 60px;
    }
  }

  .form__footer {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .form__write {
    &--width {
      max-width: 376px;
      width: 100%;
    }

    &--resize {
      width: 816px;
      height: 124px;
    }

    &--contacts {
      width: 371px;
    }
  }
}
