.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media ($desktop-widths) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 27px 130px 43px;
  }
}
