.header {
  background-color: rgba($basic-text-color, 0.3);
  margin-bottom: -66px;
  position: relative;
  z-index: 1;
}

.header-shell {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media ($tablet-widths) {
  .header {
    margin-bottom: -110px;
  }
}

@media ($desktop-widths) {
  .header {
    background-color: rgba($basic-text-color, 0.3);
  }

  .header-shell {
    width: 960px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 24px 10px 30px;
  }
}
