.loading {
  background-color: $basic-color;
}

.loading__form {
  background-color: $basic-other-color;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.loading__heading {
  @include form__heading;
  width: 280px;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 43px 0 42px 0;
}

.loading__photo {
  background-image: url("../img/photo-road-mobile@1x.jpg");
  background-repeat: no-repeat;
  width: 280px;
  height: 374px;
  margin: 20px auto 0;
}

.loading__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 69px 19px 56px;
  margin: 0 auto;
}

.loading__buttons {
  display: flex;
  flex-direction: column;
  padding: 37px 20px 43px;
}

.loading__button-submit,
.loading__button-reset {
  width: 280px;
  height: 55px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  box-sizing: border-box;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.loading__button-submit {
  background-color: $basic-color;
  border: 3px solid $link-more-color;
  color: $link-more-color;
  margin-bottom: 12px;

  &:hover {
    background-color: $link-more-color;
    color: $basic-color;
  }

  &:active,
  &:focus {
    color: rgba($basic-color, 0.3);
  }
}

.loading__button-reset {
  background-color: $basic-color;
  border: 3px solid rgba($basic-additional-color, 0.1);
  color: rgba($basic-additional-color, 0.1);

  &:hover {
    border-color: rgba($basic-additional-color, 0.3);
    color: rgba($basic-additional-color, 0.3);
  }

  &:active,
  &:focus {
    border-color: rgba($basic-additional-color, 0.1);
    background-color: rgba($basic-additional-color, 0.3);
    color: rgba($basic-color, 0.3);
  }
}

.loading__image-settings-crop {
  border: 0 none;
  background-color: transparent;
  background-image: url("../img/icon-editor-crop.svg");
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
}

.loading__image-settings-fill {
  border: 0 none;
  background-color: transparent;
  background-image: url("../img/icon-editor-fill.svg");
  background-repeat: no-repeat;
  width: 48px;
  height: 43px;
}


.loading__image-settings-contrast {
  border: 0 none;
  background-color: transparent;
  background-image: url("../img/icon-editor-contrast.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

.loading__range-control {
  position: relative;
  height: 21px;
  width: 240px;
  padding: 20px 0 15px 0;
  background-color: var(--controls-background-color);
  border-radius: 5px;
  margin: 0 auto;

  &::after {
    content: "";
    width: 320px;
    height: 1px;
    background-color: rgba($basic-additional-color, 0.1);
    position: absolute;
    bottom: 0;
    left: -40px;
  }

  &--none {
    display: none;
  }
}

.loading__scale {
  height: 2px;
  background: $basic-text-color;
}

.loading__toggle {
  position: absolute;
  top: 15px;
  width: 10px;
  height: 10px;
  padding: 0;
  border: 2px solid $link-more-color;
  background-color: $basic-color;
  border-radius: 50%;
  cursor: pointer;
  left: 80%;
}

@media ($tablet-widths) {
  .loading__heading {
    font-size: 18px;
    width: 422px;
    padding: 64px 0 70px 0;
  }

  .loading__photo {
    background-image: url("../img/photo-road-tablet@1x.jpg");
    background-repeat: no-repeat;
    min-width: 300px;
    height: 400px;
    margin-top: 3px;
  }

  .loading__form {
    flex-direction: row;
    padding: 53px 20px 11px;
  }

  .loading__settings {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .loading__list {
    flex-direction: column;
    padding: 12px 0 41px 19px;
    margin: 0;
  }

  .loading__image-settings-crop {
    width: 22px;
    height: 22px;
    background-size: contain;
  }

  .loading__image-settings-fill {
    width: 24px;
    height: 22px;
    background-size: contain;
  }

  .loading__image-settings-contrast {
    width: 16px;
    height: 16px;
    background-size: contain;
  }

  .loading__range-control {
    width: 203px;
    padding: 22px 0 16px 0;
    margin: 0 17px 13px 0;

    &--none {
      display: block;
    }

    &::after {
      width: 275px;
      left: -54px;
    }
  }

  .loading__buttons {
    padding: 53px 0 43px 47px;
  }

  .loading__button-submit,
  .loading__button-reset {
    width: 260px;
  }

  .loading__button-submit {
    margin-bottom: 24px;
  }
}

@media ($desktop-widths) {
  .loading__form {
    padding: 41px 80px 57px;
    width: 940px;
    margin: 0 auto 8px;
  }

  .loading__heading {
    padding: 37px 0 67px 0;
  }

  .loading__photo {
    background-image: url("../img/photo-road-desktop@1x.jpg");
    background-repeat: no-repeat;
    width: 300px;
    height: 400px;
    margin: 14px 0 0 0;
  }

  .loading {
    padding: 20px 0;
  }

  .loading__list {
    padding: 12px 0 22px 42px;
  }

  .loading__buttons {
    flex-direction: row;
    padding: 143px 0 0 90px;
  }

  .loading__button-submit,
  .loading__button-reset {
    width: 183px;
  }

  .loading__button-submit {
    margin-bottom: 0;
  }

  .loading__button-reset {
    margin-left: 44px;
  }

  .loading__image-settings-crop {
    width: 44px;
    height: 44px;
    background-size: contain;
  }

  .loading__image-settings-fill {
    width: 48px;
    height: 43px;
    background-size: contain;
  }

  .loading__image-settings-contrast {
    width: 32px;
    height: 32px;
    background-size: contain;
  }

  .loading__range-control {
    width: 285px;
    padding: 33px 0 5px 0;
    margin: 0 31px 13px 0;

    &::after {
      bottom: -12px;
      width: 409px;
      left: -93px;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }

  .loading__toggle {
    top: 28px;
  }
}
