.main-nav__list {
  padding: 0;
  margin: 0;
}

.main-nav__link {
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  color: $basic-color;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav__item {
  list-style-type: none;
  background-color: $basic-additional-color;
  box-shadow: 0 1px 0 $basic-color, inset 0 1px 0 rgba($basic-color, 0.15);
}
