.main-nav__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.main-nav--disabled {
  display: none;
}

.main-nav--nojs {
  display: block;
}

.main-nav__link {
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  color: $basic-color;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav__item {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  box-sizing: border-box;
  padding: 10px;
  background-color: $basic-additional-color;
  box-shadow: 0 1px 0 $basic-text-color, inset 0 1px 0 rgba($basic-color, 0.15);
  border-bottom: 1px solid $basic-text-color;
}

@media ($desktop-widths) {
  .main-nav--disabled {
    display: block;
  }

  .main-nav__list {
    flex-direction: row;
  }

  .main-nav__item {
    box-sizing: border-box;
    height: auto;
    padding: 0;
    margin-left: 79px;
    background-color: transparent;
    box-shadow: none;
    border-bottom: none;
  }

  .main-nav__link {
    line-height: 18px;
    font-weight: normal;
    color: $basic-color;
    text-transform: none;
  }
}
