.page-header {
  background-color: rgba($basic-text-color, 0.3);
  position: relative;
  top: 69px;
  left: auto;
  right: auto;
  z-index: 20;
}

@media ($tablet-widths) {
  .page-header {
    top: 110px;
  }
}

@media ($desktop-widths) {
  .page-header {
    top: 110px;
  }
}
