.photo-album__list,
.photo-album__list-panorama {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: min-content;
  row-gap: 20px;
}

.photo-album__list {
  padding: 0 20px;
}

.photo-album__heading {
  @include form__heading;
  text-align: center;
  width: 280px;
  margin: 0 auto;
  padding: 44px 20px 50px;
}

.photo-album__item {
  display: grid;
  grid-template-columns: min-content;
  grid-template-rows: min-content min-content;
}

.photo-album__panorama {
  display: grid;
  grid-template-columns: min-content;
  grid-template-rows: min-content min-content min-content;
}

.photo-album__panorama-photo {
  position: relative;
}

.photo-album__panorama-info {
  width: 140px;
  min-height: 36px;
  background-color: $link-more-color;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 20px;
}

.photo-album__panorama-info-text {
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $basic-color;
  margin: 0;
}

.photo-album__description,
.photo-album__description-panorama {
  @include descriptions-photo;
  background-color: $basic-other-color;
  min-width: 280px;
  height: auto;
  box-sizing: border-box;
  padding: 18px 10px 0 17px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr;
}

.photo-album__description-panorama {
  margin: 0 20px 20px;
}

.photo-album__name-author,
.photo-album__name-author-panorama {
  font-weight: bold;
  margin: 0;
}

.time-post {
  @include how-is-like;
  font-weight: 300;
}

.photo-album__about,
.photo-album__about-panorama {
  font-weight: normal;
  margin: 0;
}

.photo-album__likes,
.photo-album__likes-panorama {
  position: relative;
  margin: 10px 0 19px;
  display: flex;
  align-items: center;
}

.button-like {
  border: none;
  background-color: transparent;
  width: 13px;
  height: 12px;
  position: relative;

  &::before {
    content: "";
    background-image: url("../img/heart-icon.svg");
    background-repeat: no-repeat;
    width: 13px;
    height: 12px;
    position: absolute;
    top: 1px;
    left: -2px;
  }
}

.photo-album__picture {
  display: flex;
  width: 100%;
  height: auto;
}

.how-is-like,
.how-is-like-panorama {
  @include how-is-like;
  font-weight: normal;
  color: $link-more-color;
  padding: 0 0 0 18px;
  margin: 0;
}

@media ($tablet-widths) {
  .photo-album__heading {
    font-size: 18px;
    line-height: 30px;
    width: 470px;
    padding: 91px 20px 77px;

    br {
      display: none;
    }
  }

  .photo-album__list,
  .hoto-album__list-panorama {
    grid-template-columns: min-content min-content;
    column-gap: 20px;
  }

  .photo-album__panorama {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .photo-album__panorama-info {
    top: 57px;
  }

  .photo-album__panorama-photo-img {
    width: 660px;
    height: 509px;
  }

  .photo-album__description-panorama {
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
    padding: 23px 30px 25px;
  }

  .photo-album__photo-img {
    @include photo-setting-tab;
  }

  .photo-album__description {
    width: 100%;
    min-height: 155px;
    margin: 0;
    padding: 22px 30px 24px;
  }

  .photo-album__photo {
    margin: 0;
  }

  .photo-album__likes {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0;
  }

  .how-is-like {
    padding: 0;
  }

  .how-is-like-panorama {
    margin-right: 19px;
    padding-top: 2px;
  }

  .photo-album__name-author-panorama {
    order: 0;
    margin: 0;
  }

  .photo-album__about-panorama {
    order: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 520px;
    margin: 0;

    br {
      display: none;
    }
  }

  .photo-album__likes-panorama {
    margin: 0;
    order: 1;
    flex-direction: row-reverse;
  }
}

@media ($desktop-widths) {
  .photo-album__heading {
    width: 572px;
    padding: 90px 20px;
  }

  .photo-album__list {
    grid-template-columns: min-content min-content min-content;
    column-gap: 20px;
    row-gap: 55px;
    padding: 0 130px 0;
  }

  .photo-album__panorama {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .photo-album__panorama-info {
    top: 54px;
    right: 130px;
  }

  .photo-album__panorama-photo-img {
    width: 1200px;
    height: 506px;
  }

  .photo-album__item {
    margin: 0;
  }

  .photo-album__photo-img {
    @include photo-setting-desktop;
  }

  .photo-album__description-panorama {
    margin: 0 130px 50px;
    padding: 23px 28px;
  }

  .photo-album__about-panorama {
    width: 100%;
  }

  .photo-album__description {
    padding: 24px 27px 22px;
  }
}
