.photo-album__list,
.photo-album__list-panorama {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: min-content;
  row-gap: 20px;
}

.photo-album__list {
  padding: 0 20px;
}

.photo-album__heading {
  @include form__heading;
  text-align: center;
  width: 280px;
  margin: 0 auto;
  padding: 54px 20px 60px;
}

.photo-album__panorama-photo {
  background-image: url("../img/panorama-mobile@1x.jpg");
  background-repeat: no-repeat;
  width: 320px;
  height: 137px;
}

.photo-album__item {
  display: grid;
  grid-template-columns: min-content;
  grid-template-rows: min-content min-content;

  &:nth-child(1) .photo-album__photo {
    @include photo-setting;
    background-image: url("../img/photo-car-mobile@1x.jpg");
  }

  &:nth-child(2) .photo-album__photo {
    @include photo-setting;
    background-image: url("../img/photo-drumset-mobile@1x.jpg");
  }

  &:nth-child(3) .photo-album__photo {
    @include photo-setting;
    background-image: url("../img/photo-window-mobile@1x.jpg");
  }

  &:nth-child(4) .photo-album__photo {
    @include photo-setting;
    background-image: url("../img/photo-fair-mobile@1x.jpg");
  }

  &:nth-child(5) .photo-album__photo {
    @include photo-setting;
    background-image: url("../img/photo-pov-mobile@1x.jpg");
  }

  &:nth-child(6) .photo-album__photo {
    @include photo-setting;
    background-image: url("../img/photo-wing-mobile@1x.jpg");
  }
}

.photo-album__panorama {
  display: grid;
  grid-template-columns: min-content;
  grid-template-rows: min-content min-content min-content;
}

.photo-album__description,
.photo-album__description-panorama {
  @include descriptions-photo;
  background-color: $basic-other-color;
  min-width: 280px;
  height: auto;
  box-sizing: border-box;
  padding: 12px 10px 12px 17px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr;
}

.photo-album__description-panorama {
  margin: 0 20px 20px;
}

.photo-album__name-author,
.photo-album__name-author-panorama {
  font-weight: bold;
  margin: 0;
}

.time-post {
  @include how-is-like;
  font-weight: 300;
}

.photo-album__about,
.photo-album__about-panorama {
  font-weight: normal;
  margin: 0;
}

.photo-album__likes,
.photo-album__likes-panorama {
  position: relative;
  margin-top: auto;
  display: flex;
  align-items: center;
}

.button-like {
  border: none;
  background-color: transparent;
  width: 13px;
  height: 12px;
  position: relative;

  &::before {
    content: "";
    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
    width: 13px;
    height: 12px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.how-is-like {
  @include how-is-like;
  font-weight: normal;
  color: $link-more-color;
  padding: 0 0 0 10px;
  margin: 0;
}

@media ($tablet-widths) {
  .photo-album__list,
  .hoto-album__list-panorama {
    grid-template-columns: min-content min-content;
    column-gap: 20px;
  }

  .photo-album__panorama {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .photo-album__panorama-photo {
    background-image: url("../img/panorama-tablet@1x.jpg");
    background-repeat: no-repeat;
    width: 660px;
    height: 509px;
  }

  .photo-album__description-panorama {
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .photo-album__item {
    &:nth-child(1) .photo-album__photo {
      @include photo-setting-tab;
      background-image: url("../img/photo-car-tablet@1x.jpg");
    }

    &:nth-child(2) .photo-album__photo {
      @include photo-setting-tab;
      background-image: url("../img/photo-drumset-tablet@1x.jpg");
    }

    &:nth-child(3) .photo-album__photo {
      @include photo-setting-tab;
      background-image: url("../img/photo-window-tablet@1x.jpg");
    }

    &:nth-child(4) .photo-album__photo {
      @include photo-setting-tab;
      background-image: url("../img/photo-fair-tablet@1x.jpg");
    }

    &:nth-child(5) .photo-album__photo {
      @include photo-setting-tab;
      background-image: url("../img/photo-pov-tablet@1x.jpg");
    }

    &:nth-child(6) .photo-album__photo {
      @include photo-setting-tab;
      background-image: url("../img/photo-wing-tablet@1x.jpg");
    }
  }

  .photo-album__description {
    width: 100%;
    min-height: 155px;
    margin: 0;
    padding: 16px 30px 17px;
  }

  .photo-album__photo {
    margin: 0;
  }

  .photo-album__likes {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .how-is-like {
    padding: 0;
  }

  .photo-album__name-author-panorama {
    order: 0;
  }

  .photo-album__about-panorama {
    order: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .photo-album__likes-panorama {
    order: 1;
    flex-direction: row-reverse;
  }
}

@media ($desktop-widths) {
  .photo-album__list {
    grid-template-columns: min-content min-content min-content;
    column-gap: 20px;
    row-gap: 40px;
    padding: 0 130px 0;
  }

  .photo-album__panorama {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .photo-album__panorama-photo {
    background-image: url("../img/panorama-desktop@1x.jpg");
    background-repeat: no-repeat;
    width: 1200px;
    height: 506px;
  }

  .photo-album__item {
    margin: 0;

    &:nth-child(1) .photo-album__photo {
      @include photo-setting-desktop;
      background-image: url("../img/photo-car-desktop@1x.jpg");
    }

    &:nth-child(2) .photo-album__photo {
      @include photo-setting-desktop;
      background-image: url("../img/photo-drumset-desktop@1x.jpg");
    }

    &:nth-child(3) .photo-album__photo {
      @include photo-setting-desktop;
      background-image: url("../img/photo-window-desktop@1x.jpg");
    }

    &:nth-child(4) .photo-album__photo {
      @include photo-setting-desktop;
      background-image: url("../img/photo-fair-desktop@1x.jpg");
    }

    &:nth-child(5) .photo-album__photo {
      @include photo-setting-desktop;
      background-image: url("../img/photo-pov-desktop@1x.jpg");
    }

    &:nth-child(6) .photo-album__photo {
      @include photo-setting-desktop;
      background-image: url("../img/photo-wing-desktop@1x.jpg");
    }
  }

  .photo-album__description-panorama {
    margin: 0 130px 40px;
  }
}
