
.popup {
  position: fixed;
  z-index: 30;
  top: 20%;
  left: 50%;
  margin-left: -230px;
  background-color: $basic-color;
  box-shadow: 0 7px 15px rgba($box-shadow, 0.15);
  border-radius: 5px;
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  align-items: center;
}

.popup__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 43px 65px 0;

  &--closed {
    padding: 43px 65px 28px;
  }
}

.popup__heading {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  width: 237px;
  margin: 0 0 22px;

  &--closed {
    margin: 0 0 20px;
  }
}

.popup__about {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  width: 321px;
  margin: 0;

  &--closed {
    margin-left: 31px;
  }
}

.popup__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  box-sizing: border-box;
  padding: 33px 40px 52px;

  &--closed {
    padding: 50px 40px;
    background-color: $basic-other-color;
  }
}

.popup__button {
  @include form-buttons;
  width: 300px;
}


@media ($tablet-widths) {
  .popup {
    &--active {
      display: flex;
    }

    &--error {
      width: 460px;
      min-height: 363px;
    }

    &--performed {
      width: 460px;
      min-height: 432px;
    }
  }

  .popup__button {
    width: 300px;
  }
}

@media ($desktop-widths) {
  .popup {
    margin-left: -390px;

    &--error {
      width: 780px;
      min-height: 377px;
    }

    &--performed {
      width: 780px;
      min-height: 377px;
    }
  }

  .popup__text {
    padding: 43px 65px 61px;

    &--closed {
      padding: 43px 65px 39px;
    }
  }

  .popup__heading {
    width: 400px;
    margin: 0 0 22px;

    &--closed {
      margin: 0 0 20px;
    }
  }

  .popup__about {
    width: 378px;

    &--closed {
      margin-left: 0;
    }
  }

  .popup__button-wrapper {
    background-color: $basic-other-color;
    padding: 50px 40px;
  }

  .popup__button {
    &--closed {
      width: 460px;
    }
  }
}
