.price {
  overflow: hidden;
  background: linear-gradient(-3deg, $basic-other-color 96%, $basic-color 50%);
}

.price__shell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 102px 0 39px;
}

.price__item {
  width: 840px;
  border-collapse: collapse;
  margin-bottom: 34px;
}

.price__item-head-line {

}

.price__item-body-line {

}

.price__item-head-column {
  background-color: $basic-additional-color;
  color: $basic-color;
  border: 2px solid $basic-additional-color;
  position: relative;
  padding: 12px 0 26px 0;
  height: 81px;
  box-sizing: border-box;

  &:nth-child(3),
  &:nth-child(2) {
    border-right-color: $body-color;
  }

  &--first {
    background-color: transparent;
    border: none;
    display: none;
  }

  &--hit {
    &::before {
      content: "";
      width: 74px;
      height: 74px;
      position: absolute;
      top: -2px;
      left: -2px;
      background-image: url("../img/bg-hit.svg");
      background-repeat: no-repeat;
    }

    &::after {
      content: "Хит";
      width: 74px;
      height: 74px;
      font-size: 14px;
      line-height: 30px;
      font-weight: 300;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      text-align: center;
      transform: rotate(-45deg);
      position: absolute;
      top: -26px;
      left: 7px;
    }
  }
}

.price__item-head-heading {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.price__item-head-price {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.price__item-point {
  @include price-item-point;
  text-transform: uppercase;
  color: $basic-text-color;
  display: flex;
  align-items: center;
  margin: 0;
}

.price__item-body-column {
  background-color: $basic-color;
  width: 280px;
  height: 61px;
  padding: 0 0 0 20px;
  border: 2px solid $body-color;
  border-top: none;
  box-sizing: border-box;

  &--first {
    @include price-item-point;
    color: $basic-text-color;
    display: none;
  }
}

.price__icon-yes {
  position: relative;

  &::before,
  &::after {
    content: "";
    height: 3px;
    background-color: $icon-yes-color;
    border-radius: 1.5px;
    position: absolute;
    z-index: 20;
  }

  &::before {
    width: 15px;
    top: 32.5px;
    right: 35.5px;
    transform: rotate(43.35deg);
  }

  &::after {
    width: 29px;
    top: 28px;
    right: 14px;
    transform: rotate(136deg);
  }
}

.price__icon-no {
  position: relative;

  &::before,
  &::after {
    content: "";
    background-color: $decorative-icon-color;
    width: 37px;
    height: 3px;
    border-radius: 1.5px;
    position: absolute;
    top: 28px;
    right: 14px;
    z-index: 20;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.price__button {
  @include slider-button;
}

@media ($tablet-widths) {
  .price {
    overflow: auto;
    background: linear-gradient(-3.5deg, $basic-other-color 90%, $basic-color 50%);
  }

  .price__shell {
    padding: 98px 0 34px;
  }

  .price__item {
    width: 620px;
  }

  .price__item-head-line {
    height: 77px;
  }

  .price__item-body-line {
    height: 47px;
  }

  .price__item-point {
    text-transform: none;
    font-size: 14px;
    line-height: 30px;

    &--none {
      display: none;
    }
  }

  .price__item-body-column {
    height: 47px;

    &--first {
      display: table-cell;
      border-top: 2px solid $body-color;
      padding: 0 0 0 15px;
    }
  }

  .price__item-head-column {
    padding: 6px 0 0;
    height: 77px;

    &--first {
      display: table-cell;
    }

    &::before {
      background-image: url("../img/bg-hit-tablet.svg");
    }

    &::after {
      top: -31px;
      left: 0;
    }
  }

  .price__item-body-column,
  .price__item-head-column {
    width: 153px;
  }

  .price__icon-yes {
    &::before {
      right: 77px;
      top: 25.5px;
    }

    &::after {
      right: 56px;
      top: 21px;
    }
  }

  .price__icon-no {
    &::before,
    &::after {
      right: 57px;
      top: 21px;
    }
  }

  .price__button-shell {
    &--none {
      display: none;
    }
  }
}

@media ($desktop-widths) {
  .price {
    background: linear-gradient(-5deg, $basic-other-color 83%, $basic-color 50%);
  }

  .price__item {
    width: 940px;
  }

  .price__item-point {
    font-size: 18px;
  }

  .price__shell {
    padding: 163px 0 60px;
  }

  .price__item-head-line {
    height: 96px;
  }

  .price__item-head-column {
    padding: 0;

    &::before {
      background-image: url("../img/bg-hit.svg");
      left: 0;
    }

    &::after {
      top: -26px;
      left: 9px;
    }
  }

  .price__item-body-line {
    height: 61px;
  }

  .price__item-body-column {
    &--first {
      padding: 0 0 0 20px;
    }
  }

  .price__icon-yes {
    &::before {
      right: 120px;
      top: 33px;
    }

    &::after {
      right: 99px;
      top: 28px;
    }
  }

  .price__icon-no {
    &::before,
    &::after {
      right: 99px;
      top: 28px;
    }
  }

  .price__item-head-heading {
    font-size: 18px;
  }

  .price__item-head-price {
    font-size: 24px;
  }
}
