.price {
  background-color: $basic-other-color;
  overflow: hidden;
}

.price__shell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 93px 0 39px;
}

.price__item {
  width: 840px;
  border-collapse: collapse;
  margin-bottom: 34px;
}

.price__item-head-line {
  height: 96px;
}

.price__item-body-line {
  height: 61px;
}

.price__item-head-column {
  background-color: $basic-additional-color;
  color: $basic-color;
  border: 2px solid $basic-additional-color;

  &:nth-child(3),
  &:nth-child(2) {
    border-right-color: $body-color;
  }

  &--first {
    background-color: transparent;
    border: none;
    display: none;
  }
}

.price__item-head-heading {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.price__item-head-price {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.price__item-point {
  @include price-item-point;
  text-transform: uppercase;
  color: $basic-text-color;
  display: flex;
  align-items: center;
  margin: 0;
}

.price__item-body-column {
  background-color: $basic-color;
  width: 280px;
  padding: 0 0 0 20px;
  border: 2px solid $body-color;
  border-top: none;
  box-sizing: border-box;

  &--first {
    @include price-item-point;
    color: $basic-text-color;
    display: none;
  }
}

.price__icon-yes {
  position: relative;

  &::before,
  &::after {
    content: "";
    height: 3px;
    background-color: $icon-yes-color;
    border-radius: 1.5px;
    position: absolute;
    z-index: 20;
  }

  &::before {
    width: 15px;
    top: 32.5px;
    right: 35.5px;
    transform: rotate(43.35deg);
  }

  &::after {
    width: 29px;
    top: 28px;
    right: 14px;
    transform: rotate(136deg);
  }
}

.price__icon-no {
  position: relative;

  &::before,
  &::after {
    content: "";
    background-color: $decorative-icon-color;
    width: 37px;
    height: 3px;
    border-radius: 1.5px;
    position: absolute;
    top: 28px;
    right: 14px;
    z-index: 20;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.price__button {
  @include slider-button;
}

@media ($tablet-widths) {
  .price {
    overflow: auto;
  }

  .price__shell {
    padding: 55px 0 34px;
  }

  .price__item {
    width: 620px;
  }

  .price__item-head-line {
    height: 77px;
  }

  .price__item-body-line {
    height: 47px;
  }

  .price__item-point {
    text-transform: none;
    font-size: 14px;
    line-height: 30px;

    &--none {
      display: none;
    }
  }

  .price__item-body-column {
    &--first {
      display: table-cell;
      border-top: 2px solid $body-color;
    }
  }

  .price__item-head-column {
    &--first {
      display: table-cell;
    }
  }

  .price__item-body-column,
  .price__item-head-column {
    width: 153px;
  }

  .price__icon-yes {
    &::before {
      right: 77px;
      top: 25.5px;
    }

    &::after {
      right: 56px;
      top: 21px;
    }
  }

  .price__icon-no {
    &::before,
    &::after {
      right: 57px;
      top: 21px;
    }
  }

  .price__button-shell {
    &--none {
      display: none;
    }
  }
}

@media ($desktop-widths) {
  .price__item {
    width: 940px;
  }

  .price__item-point {
    font-size: 18px;
  }

  .price__shell {
    padding: 163px 0 60px;
  }

  .price__item-head-line {
    height: 96px;
  }

  .price__item-body-line {
    height: 61px;
  }

  .price__icon-yes {
    &::before {
      right: 120px;
      top: 33px;
    }

    &::after {
      right: 99px;
      top: 28px;
    }
  }

  .price__icon-no {
    &::before,
    &::after {
      right: 99px;
      top: 28px;
    }
  }

  .price__item-head-heading {
    font-size: 18px;
  }

  .price__item-head-price {
    font-size: 24px;
  }
}
