.review {
  background-color: $basic-color;
  text-align: center;
}

.review__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px 21px;
}

.review__heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

.review__about-heading {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  display: none;
  margin: 0;
}

.review__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  width: 280px;
  margin: 15px 0 0;
}

.review__button-shell {
  padding-bottom: 40px;
  margin: 0 auto;
}

.review__button {
  @include slider-button;
}

.review__past-next-button {
  display: none;
}

@media ($tablet-widths) {
  .review__description {
    font-size: 18px;
    width: 620px;
    order: -1;
    margin-bottom: 35px;
  }

  .review__heading {
    font-size: 20px;
  }

  .review__about-heading--active {
    display: inline;
  }

  .review__item {
    padding: 33px 20px 29px;
  }

  .review__button-shell {
    padding-bottom: 50px;
  }
}

@media ($desktop-widths) {
  .review__button-shell {
    &--none {
      display: none;
    }
  }

  .review__item {
    padding: 169px 20px 29px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/icon-quotes.svg");
      background-repeat: no-repeat;
      height: 63px;
      width: 79px;
      top: 71px;
      left: 561px;
    }
  }

  .review__past-next-button {
    display: block;
    background-color: transparent;
    border: 0 none;
    width: 22px;
    height: 41px;
    background-image: url("../img/icon-review-arrow-left.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 212px;

    &--past {
      left: 129px;
    }

    &--next {
      transform: rotate(180deg);
      right: 129px;
    }
  }

  .review__description {
    width: 688px;
  }

  .review__heading {
    font-size: 24px;
  }

  .review__about-heading--active {
    font-size: 18px;
  }
}
