.review {
  background-color: $basic-other-color;
}

.review__heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.review__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}
