.sentence {
  background-color: $basic-color;
  color: $basic-additional-color;
  box-sizing: border-box;
  padding: 40px 20px;
}

.sentence__item {
  margin: 0 0 29px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
