.shell-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  box-sizing: border-box;
  padding: 10px 20px;
}

.shell-logo--color {
  background-color: $basic-additional-color;
  border-bottom: 1px solid $basic-text-color;
}

.shell-logo--nojs .shell-logo__button {
  display: none;
}

.shell-logo--nojs {
  background-color: $basic-additional-color;
  border-bottom: 1px solid $basic-text-color;
}


.shell-logo__button {
  position: relative;
  width: 50px;
  height: 24px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.shell-logo--closed .shell-logo__button {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 4px;
    border-radius: 1px;
    background-color: $basic-color;
    box-shadow: 0 10px 0 0 $basic-color, 0 20px 0 0 $basic-color;
  }

  &:hover {
    &::before {
      background-color: $link-more-color;
      box-shadow: 0 10px 0 0 $link-more-color, 0 20px 0 0 $link-more-color;
    }
  }

  &:active,
  &:focus {
    &::before {
      background-color: rgba($link-more-color, 0.3);
      box-shadow: 0 10px 0 0 rgba($link-more-color, 0.3), 0 20px 0 0 rgba($link-more-color, 0.3);
    }
  }
}

.shell-logo--opened .shell-logo__button {
  width: 23px;
  height: 23px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 29px;
    height: 3px;
    background-color: $basic-color;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    &::before,
    &::after {
      background-color: $link-more-color;
    }
  }

  &:active,
  &:focus {
    &::before,
    &::after {
      background-color: rgba($link-more-color, 0.3);
    }
  }
}

.shell-logo__logo-icon {
}

.shell-logo__glasses,
.shell-logo__glasses-star,
.shell-logo__star {
  display: none;
  position: absolute;
}

@media ($tablet-widths) {
  .shell-logo {
    height: 110px;
  }

  .shell-logo__logo {
    margin-bottom: 16px;
  }

  .shell-logo__logo-icon {
    width: 145px;
    height: 40px;
  }
}

@media ($desktop-widths) {
  .shell-logo {
    background-color: transparent;
    width: auto;
    height: auto;
    padding: 0;
  }

  .shell-logo__logo {
    margin-bottom: 11px;
  }

  .shell-logo__logo-icon {
    width: 147px;
    height: 40px;
  }

  .shell-logo__button {
    display: none;
  }
}
