.timer {
  display: none;
}

@media ($tablet-widths) {
  .timer {
    display: block;
    background-color: $basic-color;
  }

  .timer__app {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 73px;
    box-sizing: border-box;
    padding: 50px 20px;

    &::before {
      content: "";
      width: 238px;
      height: 276px;
      background: url("../img/timer.svg") no-repeat;
    }
  }

  .timer__item-heading {
    width: 168px;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    margin: 44px 0 10px;
  }

  .timer__item-answer {
    width: 310px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 10px;

    .desktop {
      display: none;
    }
  }

  .timer__item-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $link-more-color;
  }
}

@media ($desktop-widths) {
  .timer {
    background-color: $basic-other-color;
  }

  .timer__app {
    padding: 0 10px 67px;

    &::before {
      width: 298px;
      height: 345px;
      background-size: cover;
    }
  }

  .timer__item-heading {
    min-width: 298px;
    line-height: 30px;
    margin: 95px 0 25px;

    br {
      display: none;
    }
  }

  .timer__item-answer {
    width: 534px;
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 30px;

    br {
      display: none;
    }

    .desktop {
      display: inline;
    }
  }

  .timer__item-link {
    font-size: 18px;
    line-height: 30px;
  }
}
