.title-head {
  height: 237px;
  box-sizing: border-box;
  padding: 94px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.title-head__heading {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $basic-color;
  width: 228px;
  text-align: center;
}

.title-head__heading-photo {
  width: 172px;
}

.title-head__heading-form {
  width: 228px;
}

@media ($tablet-widths) {
  .title-head {
    height: 440px;
    width: 100%;
    padding: 176px 20px 66px;
  }

  .title-head__heading {
    font-size: 50px;
    line-height: 68px;
  }

  .title-head__heading-photo {
    width: 358px;
  }

  .title-head__heading-form {
    width: 620px;
  }
}

@media ($desktop-widths) {
  .title-head {
    height: 394px;
    width: 100%;
    padding: 167px 10px 57px;
  }

  .title-head__heading {
    font-size: 50px;
    line-height: 68px;
  }

  .title-head__heading-photo {
    width: 358px;
  }

  .title-head__heading-form {
    width: 747px;
  }
}
