@mixin name-input {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $link-more-color;
  text-transform: uppercase;
}

@mixin form__heading {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $basic-additional-color;
}

@mixin descriptions-photo {
  font-size: 14px;
  line-height: 24px;
}

@mixin how-is-like {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

@mixin photo-setting {
  background-repeat: no-repeat;
  width: 280px;
  height: 180px;
}

@mixin photo-setting-tab {
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}

@mixin photo-setting-desktop {
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
}

@mixin about-app__mobile {
  background-repeat: no-repeat;
  width: 292px;
  height: 302px;
}
