// Version
$mobile-widths-only: "min-width: 321px";
$tablet-widths: "min-width: 660px";
$desktop-widths: "min-width: 1200px";
$retina: "min-resolution: 2dppx";

// Fonts
$font: "Open Sans", "Arial", sans-serif;

// color
$body-color: #e5e5e5;
$basic-color: #ffffff;
$basic-other-color: #f2f2f2;
$basic-additional-color: #283645;
$slider-button: rgba(40, 54, 69, 0.3);
$slider-other-button: rgba(40, 54, 69, 0.6);
$mobile-background-color: #1d2631;
$menu-header-color: rgba(0, 0, 0, 0.3);
$basic-text-color: #000000;
$link-more-color: #d22856;
$decorative-icon-color: #f25b26;
$form-button-color: #2aab6d;
$form-button-hover: #1c9b5e;
